body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 30px;
}

button {
    border-radius: 15px;
    background-color: rgba(173, 214, 212, 0.4);
    color: #ffffff;

}

@keyframes neon2 {
    0% {
        box-shadow: 0 0 80px rgb(53, 43, 43);
    }

    50% {
        box-shadow: 0 0 80px rgba(37, 45, 68, 0.726);
    }

    100% {
        box-shadow: 0 0 80px rgb(36, 43, 51);
    }
}



@keyframes neon {
    0% {
        box-shadow: 0 0 80px rgb(0, 119, 255);
    }

    50% {
        box-shadow: 0 0 80px rgb(167, 134, 134);
    }

    100% {
        box-shadow: 0 0 80px rgb(10, 112, 228);
    }
}

.gameContainer {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 200px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-mode .gameContainer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 12px;
    animation: neon2 2s infinite linear;
    background-color: rgba(255, 255, 255, 0.05);
    /* leve brilho visível */
    z-index: 0;
}


.dark-mode .gameContainer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 12px;
    animation: neon 5s infinite linear;
    background-color: rgba(0, 0, 0, 0.336);
    /* leve brilho visível */
    z-index: 0;
}

h1 {
    color: #ffffff;
}

p {
    color: WHITE;

}

#gameContainer {
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(248, 193, 193, 0.1);
    display: inline-block;
    margin-bottom: 20px;

}

input[type="number"],
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 211px;
    margin-bottom: 10px;
    border-radius: 10PX;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

#message,
#attempts {
    margin-top: 10px;
    font-size: 18px;
    color: #ffffff;
}

#ranking {
    margin-top: 30px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#ranking h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}
.nome{
    width:50%;
    height: 50%;
}
p{
    font-size: large;
}
.rank {
    box-sizing: border-box;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 13px;
    position: fixed;
    /* Fixa o container na tela */
    right: 0;
    /* Cola na direita */
    top: 0;
    /* Cola no topo */
    height: 100vh;
    /* Altura total da tela */
    width: 300px;
    /* Largura do container */
    overflow-y: auto;
    /* Habilita rolagem vertical */
    /* Só pra enxergar melhor */
    padding: 20px;
    box-shadow: 8px;

}

.light-mode {
    transition: ease 0.5s;
    background: linear-gradient(90deg, rgba(41, 28, 184, 1) 4%, rgba(22, 76, 201, 1) 26%, rgba(96, 158, 232, 1) 56%, rgba(105, 174, 240, 1) 98%);
    color: black;
}

.dark-mode {
    transition: ease 0.5s;
    background: linear-gradient(90deg, rgb(62, 61, 61) 8%, rgb(23, 23, 109) 100%, rgb(8, 10, 107) 80%);
    color: #fff;
}


.toggle-container {
    position: relative;
    width: 80px;
    height: 40px;
    position: absolute;
    /* Permite posicionamento absoluto na tela */
    top: 0;
    /* Alinha no topo */
    left: 0;
    /* Alinha à esquerda */


}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px;
    transition: .4s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.light-mode .toggle-slider {
    background: #7ec4f0;
    transition: ease 1.5s;
}

.dark-mode .toggle-slider {
    transition: ease 0.5s;
    background: #0f1c2e;
}

.toggle-slider:before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    left: 5px;
    bottom: 5px;
    border-radius: 50%;
    transition: .4s;
    z-index: 2;
}

.light-mode .toggle-slider:before {
    background: #FFEB3B;
    box-shadow: 0 0 15px rgba(255, 193, 7, 0.6);
}

.dark-mode .toggle-slider:before {
    background: #f5f5f5;
    transform: translateX(40px);
    box-shadow: 0 0 10px rgba(176, 190, 197, 0.6);
}

#botaoApagarRanking {
    position: fixed;
    bottom: 10px;
    left: 40px;
    background: transparent;
    border: none;
    font-size: 40px;
    cursor: pointer;
    opacity: 0.3;
    transition: opacity 0.3s;
}

#botaoApagarRanking:hover {
    opacity: 1;
}
